* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  min-height: 90vh;
  background-color: 	#2c3e50;
}
.display {
  height: 120px;
  margin: 20px;
  width: 100%;
  border-radius: 4px;
  font-size: 27px;
  padding: 20px;
  text-align: end;
}
.calculator {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 30px;
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.15),
    -15px -15px 30px rgba(255, 255, 255, 0.1);
  padding: 25px;
  width: 400px;
  background-color: #e0e5ec;
  animation: scaleIn 0.5s ease-out forwards;
}

.buttons {
   background-color: #e0e5ec;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}
.btn {
  text-align: center;
  background-color: var(--button-bg);
  border: none;
  border-radius: 18px;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 500;
  height: 4rem;
  padding: 12px;
  width: 4.5rem;
  transition: all 0.2s ease;
  box-shadow: 6px 6px 12px rgba(141, 148, 153, 0.5),
    -6px -6px 12px rgba(255, 255, 255, 0.8);
}
.btn:hover {
  transform: translateY(-2px);
}
.operator {
  color: orangered;
}
.zero {
  grid-column: span 2;
  width: calc(2 * 5rem);
}
.btn.equal {
  color: white;
  background-color: orangered;
}
@media (max-width: 500px) {
  .calculator {
    width: 90%;
    padding: 20px;
  }

  .display {
    font-size: 20px;
    padding: 15px;
    height: 80px;
  }

  .buttons {
    gap: 10px;
  }

  .btn {
    width: 60px;
    height: 60px;
    font-size: 1.5rem;
    border-radius: 12px;
  }

  .zero {
    width: calc(2 * 60px + 10px); /* 2 buttons + gap */
  }
}
